{% extends 'base.html' %}

{% block title %}Waste » News{% endblock %}

{% block sidebar %}
    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
        <li class="nav-item">Pages</li>
        <li class="nav-item active"><a class="nav-link pl-0" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="/url/">Url</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="/rage/">Rage</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="/topic/">Topic</a></li>
    </ul>
{% endblock %}

{% block content %}
  {% for news_item in news %}
    <p>{{ news_item|safe }}</p>
  {% endfor %}
{% endblock %}
