<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <atom:link href="{{ site_base_url }}news/rss" rel="self" type="application/rss+xml" />
  <title>Waste » RSS</title>
  <link>{{ site_base_url }}news</link>
  <description>RSS</description>
  <pubDate>{% now "D, d M Y H:i:s O" %}</pubDate>
{% block content %}
  {% for news_item in news %}
  <item>
    <title>{{ news_item.link_text }}</title> 
    <link>{{ news_item.link }}</link> 
    <guid isPermaLink="false">{{ site_base_url }}news/{{ news_item.key.id }}</guid>
    <description>{{ news_item.link_text }}</description>
    <pubDate>{{ news_item.date|date:"D, d M Y H:i:s O" }}</pubDate>
    <category>{{ news_item.content }}</category>
  </item>
  {% endfor %}
{% endblock %}
 </channel>
</rss>
