{% extends 'base.html' %}
{% block title %}Waste » Url » {{ data.url }}{% endblock %}

{% block sidebar %}
    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
        <li class="nav-item">Pages</li>
        <li class="nav-item active"><a class="nav-link pl-0" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="/url/">Url</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="/rage/">Rage</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="/topic/">Topic</a></li>
    </ul>
{% endblock %}

{% block content %}
<h3>{{ data.url }}</h3>
<h4>{{ data.channel }}</h4>
{{ data.date }}

+/-:{{ data.rating }}<br>
{% for rate in data.rates %}
  {{ rate }} </br>
{% endfor %}

{% for extra in data.extras %}
  {{ extra|safe }} </br>
{% endfor %}

</br><a href="{{ data.url.url }}">Direct link</a>
<small>(<a href="http://waste.appspot.com/url/view_m/{{ data.url.key.id }}/">↑</a>)</small>
{% endblock %}
